:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #424663;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #ecedf3;
    --hovergreen: #2C666E;
    --bisque: bisque;
}

body {
    background-color: bisque;
    margin: 0;
    padding: 0;
    position: relative;
}

.header{
background-color: #2C666E;
width: 100%;
height: 7vh;
display: flex;
justify-content:space-between;
align-items: center;

}

.headerButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:space-around;
    padding: 5vh;
}
.headerLogo{
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-end;
    padding: 1vh;
    margin-top: 1.6vh;
}

.container {
    display: grid;
    grid-template-columns: 70% 30%;
    gap:1rem;
}

.noProducts{
    width:100%;
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    animation: noproductsAnimation 1 ease-in 2s;
    font-size: 3.5em;
}

.cartDiv {
    background: linear-gradient(360deg, #66c192, slateblue);
    min-height: 94vh;
}

.sortDiv {
    padding-top:2rem;
    padding-left:5rem;
}

.paginationButtonDiv {
display: flex;
flex-direction: row;
justify-content: flex-end
}

.listDiv {
    background: linear-gradient(270deg, #C1666B, rgba(255,144,168,1));
    min-height: 94vh;
}

.listDiv > p {
font-size: 1.5rem;
text-align: center;
}

.listDivHome {
    margin: 3vh 0;
    background: radial-gradient(ellipse at 58% 125%,#d9395c, rgba(255,144,168,1));
    min-height: 94vh;
}
.listDivHome > b {
    font-size: 5em;
    padding: 2rem;
}

.NewsHero{
display: grid;
grid-template-columns: 60% 40%;
}

.NewsHeroChat{
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
}

.News{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    


@keyframes titleAnimation {
from { transform: translateX(-300px)};

to{
    transform: translateX(0px)
}
}

@keyframes noproductsAnimation {
    from { transform: translateY(-100px)};
    
    to{
        transform: translateY(0px);
    }
    }

.listDiv h1,.listDivHome > b {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: titleAnimation 2s ease-out 0s;
}

#NoProdHero h2,#NoProdHero h1,#NoProdHero img,#NoProdHero .pagebutton {
    text-align: center;
    animation: noproductsAnimation 1s ease-in 0s;
    
}

.centered{
    display: flex;
    justify-content: center;
}
#NoProdHero .noPdiv {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
#NoProdHero .noPdiv img {
width: 50vh;
height: 60vh;
border: 1px solid #844b4e;
margin-bottom: 5vh;
}

#Listado{
    margin-left: 5rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    padding-bottom: 1rem;

}

#Carrito{
    margin-left: 5rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5rem;
    padding-bottom: 1rem;

}

#cart{
    visibility: hidden;
}

.maintitle{
    text-shadow: 3px 3px 3px#2C666E;
}

.ticketDiv{
    text-align: center;
    font-size: 3vh;
    border-radius: 100px;
    background-color: var(--bisque);
    padding: 3vh 0;
    margin: 0 33vh;
}

.ticketDeclines{
    text-align: center;
    font-size: 3vh;
    border-radius: 100px;
    background-color: var(--bisque);
    margin: 1vh 33vh;
}

.divDeclines{
    padding-bottom: 10vh;
}

.title{
    background-color: #48A9A6;
    font-size:2rem;
}

.productDiv {
    background-color:#E4DFDA;
    border-radius: 5%;
    width: 80%;
    text-align: center;
    box-shadow: -5px 5px 5px black;
    margin-bottom: 3em;
}

.button {
    padding: 10px 24px;
    background-color: slateblue;
    color: antiquewhite;
    margin-bottom: 1rem;
    border-radius: 10%;
}

.button:hover {
    background-color: #2C666E;
    border-color:  black;
    color: white;
    /* border-radius: 20%; */
}

.pagebutton{
    padding: 10px 24px;
    margin: 1vh;
    background-color: bisque;
    color: black;
    /* width: 100%; */
}

.featuredbutton{
    background-color: slateblue;
    color: var(--grey);
}

.logoutbutton{
    background-color: #E4DFDA;
    color: var(--hovergreen);
    font-weight: bold;
}

.submitbutton{
    padding: 10px 24px;
    background-color: slateblue;
    color: antiquewhite;
    margin-bottom: 1rem;
    border-radius: 10%;
    transition: all 0.3s ease;
    border: 2px solid #060808;
}

.submitbutton:hover{
    transform: translateY(-10px);
    border: 1px solid #515758;
}

.formDiv {
    background-color: #2C666E;
    opacity: 0.8;
    background-image:  linear-gradient(#45919b 1px, transparent 1px), linear-gradient(to right, #45919b 1px, #2C666E 1px);
    background-size: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: rgb(3, 4, 4);
    /* margin-bottom: 7vh; */
    /* margin:auto; */
}

.formDiv h1{
    margin:0.2em;
    color: #e9a8ab;
    text-shadow: 3px 3px 3px#844b4e;

}


.formContainer{
display: grid;
gap: 1em;
}

.formGroup{
    position: relative;
    }

.formInput{
 width: 100%;
 border: none;
 outline: none;
}

.formLabel {
cursor: pointer;
position: absolute;
top: 0px;
left: 10px;
transform: translateY(25px);
animation: transform 2s linear;
transition: transform 0.5s, color 1s;
color: #515758;
font-size: 0.7em;
}

.formInput:focus ~ .formLabel,
.formInput:not(:placeholder-shown)~ .formLabel{
    transform: translateY(-25px)  scale(0.9);
    transform-origin: left;
    color: #e9a8ab;
}

.formDiv input{
    width: 80%;
    padding: 1rem 1rem;
    margin: 0.5rem ;
    font-size: 1.5rem;
    border: 0;
    outline: 0;
}

#mensajeError{
    color: #EF3E36;
    font-weight:bolder;
}


.ChatDiv{
/* margin-right: 2rem; */
}
.ChatBox{
    height: 70vh;
    width: 96.5%;
    background-color: #E4DFDA;
    margin: 2rem;
    border: 1px solid black;
    overflow: hidden;
    font-size: 2rem;
    overflow-y: scroll;
}

.MiniChatBox{
    height: 35vh; 
    width: 35vh;
    background-color: #E4DFDA;
    margin: 2rem;
    border: 1px solid black;
    overflow: hidden;
    font-size: 1.5rem;
    overflow-y: scroll;
    margin-bottom: 10vh;
}

.ChatInput{
    height: 50px;
    width: 86%;
    margin-left: 2rem;
    font-size: 26px;
    margin-bottom: 10vh;
}

.ChatButtonDiv{
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 2rem;
}


.ChatButton{
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: #48A9A6;
    margin-bottom: 10vh;

}



.footer {
    background-color: #2C666E;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    color: rgb(160, 166, 155);
    }

    .containerCart {
        padding-bottom: 3rem;
    }

@media (min-width: 768px) {


    
}

/* checkbox */
.checkbox:checked ~ .background-color{
	background-color: var(--white);
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
	position: relative;
	width: 70px;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin: 17px 0;
	margin-top: 100px;
	height: 6px;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--hovergreen), var(--bisque));
	z-index: 100 !important;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
	position: absolute;
	font-family: 'unicons';
	cursor: pointer;
	top: -17px;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox:not(:checked) + label:before {
	content: '\eac1';
	left: 0;
	color: var(--grey);
	background-color: var(--dark-light);
	box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(26,53,71,0.07);
}
.checkbox:checked + label:before {
	content: '\eb8f';
	left: 30px;
	color: var(--yellow);
	background-color: var(--dark-blue);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

/* .checkbox:checked ~ .section .container .row .col-12 p{
	color: var(--dark-blue);
} */

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 20px;
	width: 110px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--white);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-tools:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(95, 208, 64, 0.765);
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 bisque;
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--hovergreen), var(--bisque));
	z-index: -1;
}
.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
}