body {
    background-color: bisque;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 70% 30%;
    gap:1rem;
}

.listDiv {
    background-color:#C1666B;
}
.listDiv h1 {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#Listado{
    margin-left: 5rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    padding-bottom: 1rem;

}

.title{
    background-color: #48A9A6;
    font-size:2rem;
}

.productDiv {
    background-color:#E4DFDA;
    border-radius: 5%;
    width: 80%;
    text-align: center;
}

.button {
    padding: 10px 24px;
    background-color: black;
    color: antiquewhite;
    margin-bottom: 1rem;
    border-radius: 10%;
}

.submitbutton{
    padding: 10px 24px;
    background-color: slateblue;
    color: antiquewhite;
    margin-bottom: 1rem;
    border-radius: 10%;
}

.pagebutton{
    padding: 10px 24px;
    background-color: brown;
    color: antiquewhite;
    /* margin-bottom: 1rem; */
    /* border-radius: 10%; */
    width: 100%;
}

.formDiv {
    background-color:#2C666E;
    text-align: center;
    color: aliceblue;
}

.formDiv input{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

#mensajeError{
    color: #EF3E36;
    font-weight:bolder;
}

.ChatHeader{
display: grid;
grid-template-columns: 1fr 1fr;
}
.ChatDiv{
/* margin-right: 2rem; */
}
.ChatBox{
    height: 500px;
    width: 96.5%;
    background-color: #E4DFDA;
    /* color:slateblue; */
    margin: 2rem;
    border: 1px solid black;
    overflow: hidden;

}

.ChatInput{
    height: 50px;
    width: 86%;
    margin-left: 2rem;
    font-size: 20px;
}

.ChatButtonDiv{
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 2rem;
}
.ChatButton{
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: #48A9A6;
    /* color: brown; */
}

