<div>
<div class="container">
    <div class="formDiv">
        <h1> Login </h1>
        <form id="loginForm">
             <div class="formContainer">
                <div class="formGroup">    
                    <input class="formInput" type="text" id="email" name="email" placeholder=" ">
                    <label for="email" class="formLabel">Email</label>
                    <span class="formLine"></span>
                </div>
                <div class="formGroup"> 
                    <input class="formInput" type="password" id="password" name="password" placeholder=" ">
                    <label for="password" class="formLabel">Password</label>
                    <span class="formLine"></span>
                </div>
                <input class="submitbutton" type="submit" value="Registrar Usuario">
            </div>
        </form>
        <div class="linkDiv">
        No tienes usuario ?<a href="/auth/register">Regístrate</a>
        </div>
        <div class="linkDiv">
        Olvidaste tu contraseña ?<a href="/auth/reset">Resetear Password</a>
        </div>
        <a href="/auth/github">Login con Github</a>
        <p id="mensajeError"></p>
        <p id="mensajeConfirmacion"></p>
    </div>
</div>
{{!-- <div style="margin-top: 10vh; height: 100%"></div> --}}
</div>
<script src="/socket.io/socket.io.js" ></script>
<script src="/js/auth/login.js" ></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11" ></script>
