<div>
<div class="container">
    <div class="formDiv">
        <h1> Recuperar Contraseña </h1>
        <form id="resetForm">
             <div class="formContainer">
                <div class="formGroup">    
                    <input class="formInput" type="text" id="email" name="email" placeholder=" ">
                    <label for="email" class="formLabel">Email</label>
                    <span class="formLine"></span>
                </div>
                {{#if reset}}
                <div id="passlabel" class="formGroup"> 
                    <input class="formInput" type="password" id="password" name="password" placeholder=" ">
                    <label for="password" class="formLabel">Password</label>
                    <span class="formLine"></span>
                </div>
                {{/if}}
                <input class="submitbutton" type="submit" value="Resetear Password">
            </div>
            <div class="linkDiv">
            No tienes usuario ?<a href="/auth/register">Regístrate</a>
            </div>
        </form>
        <p id="mensajeError"></p>
        <p id="mensajeConfirmacion"></p>
    </div>
</div>
{{!-- <div style="margin-top: 10vh; height: 100%"></div> --}}
</div>
<script src="/socket.io/socket.io.js" ></script>
<script src="/js/auth/reset.js" ></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11" ></script>
